<footer class="section section--dark footer_section">
  <div class="container grid footer__sections">
    <div class="collapsible">
      <div class="footer__header">
        <div class="footer__heading">MENU</div>
        <svg class="icon">
          <use xlink:href="images/sprite.svg#downarrow"></use>
        </svg>
      </div>
      <div class="collapsible__content footer_menu_item">
        <ul class="list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Coupons</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="collapsible">
      <div class="footer__header">
        <div class="footer__heading">CONTACT US</div>
        <svg class="icon">
          <use xlink:href="images/sprite.svg#downarrow"></use>
        </svg>
      </div>
      <p class="collapsible__content">
        Primary Business Address <br />
        54-14 74TH St. Suite 2202 <br />
        Elmhurst NY 11373 <br />
        Phone: (718) 571-9403 <br />
        Fax: (718) 458-9359 <br />
        E-mail: tainocorp@mail.com <br />
      </p>
    </div>
    <div class="collapsible">
      <div class="footer__header">
        <div class="footer__heading">FOLLOW US</div>
        <svg class="icon">
          <use xlink:href="images/sprite.svg#downarrow"></use>
        </svg>
      </div>
      <div class="collapsible__content fallow_us">
        <ul class="list list--tick">
          <li class="list__item">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
            <p>Like Us On<br />FACEBOOK</p>
          </li>
          <li class="list__item">
            <svg class="icon">
              <use xlink:href="images/sprite.svg#instagram"></use>
            </svg>
            <p>Follow Us On<br />INSTAGRAM</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__brand">
      <img src="/images/logo_light.png" alt="brand logo" />
      <div class="footer__copyright">
        ©2021, Taino Mechanical Contractors Corp
      </div>
    </div>
  </div>
</footer>
