<form action="" class="form">
  <div class="input-group">
    <label class="input-group__lable" for="name">Name*:</label>
    <input id="name" class="input" placeholder="Jon Doe" type="text" />
  </div>
  <div class="input-group">
    <label class="input-group__lable" for="name">Email*:</label>
    <input
      id="name"
      class="input"
      placeholder="yourdomain@example.com"
      type="email"
    />
  </div>

  <div class="contact-form">
    <div class="contact-form__header">
      <div class="title">Free Consultation</div>
    </div>
    <div class="input-group">
      <label class="input-group__lable" for="message">Message*:</label>
      <textarea
        placeholder="Enter Your Messge Here..."
        class="input"
        name="message"
        rows="5"
        cols="25"
        id="message"
      ></textarea>
    </div>
  </div>

  <button class="btn">submit</button>
</form>
