<div class="info_card">
  <div class="info_card__border_line"></div>
  <div class="info_card_base">
    <h3>Need an annual tune-up?</h3>
    <div class="info_card__underline"></div>
    <p class="info_card__discription">
      Ask about our service membership. Annual checkups can help prevent many
      issues from happening to your system. Our platinum premier membership
      gives customers one tune-up for their heating and another for their air
      conditioning.
      <br />
      <br />

      This makes sure that you have what your home needs when you need it. Taino
      Mechanical can help with the ongoing maintenance of all of your important
      air conditioning and furnace equipment, as well as annual home inspections
      to help prevent major HVAC emergencies down the road.
      <br />
      <br />

      Well-functioning heating and A/C systems are imperative to your comfort,
      both in the office and at home. At Taino Mechanical Contractors Corp we
      pride ourselves on our ability to keep those systems up and running. Our
      trustworthy technicians guarantee your satisfaction 100% of the time.
    </p>
  </div>
</div>
