<nav class="nav collapsible">
  <div class="container">
    <a href="/"><img src="images/logo.png" alt="Brand Logo" /></a>
    <svg class="icon">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>

    <ul class="list nav__list collapsible__content">
      <li class="nav__item select"><a href="#">Home</a></li>
      <li class="nav__item"><a href="#">Testimonials</a></li>
      <li class="nav__item"><a href="#">Gallery</a></li>
      <li class="nav__item"><a href="#">About Us</a></li>
      <li class="nav__item"><a href="#">Coupons</a></li>
      <li class="nav__item"><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>
